@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

.wrapper{
	min-height: 100%;
	overflow: visible;
}

.content{
    max-width: 810px;
    margin: 0px auto;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    padding: 40px 10px 40px 10px;
    line-height: 1.62;
    color: #424551;
}

.title{
    font-weight: 900;
    font-size: 46px;
    color: #1E212C;
    line-height: 1.30;
    margin-bottom: 26px;
}

.text-tegular1,
.text-regular2{
    color: #787A80;
    display: inline-block;
    padding-left: 24px;
    margin-bottom: 40px;
}

.text-tegular1{
    background: url("../img/Calendar.png") 0 4px / auto no-repeat;
}

.text-regular2{
    margin-left: 24px;
    background: url("../img/Clock.png") 0 4px / auto no-repeat;
}
.image{
    max-width: 810px;
    border: 1px solid #000000;
    border-radius: 4px;
}

.block{
    margin-bottom: 60px;
}

.block1{
    margin-bottom: 24px;
}

.text-bold{
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    color: #1E212C;
}

.block2{
    margin-bottom: 48px;
}

.text-regular3{
    padding-bottom: 40px;
}

.text-bold2{
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    padding-left: 58px;
    color: #1E212C;
    background: url("../img/braces.png") 0 0 / auto no-repeat;
}

.block3{
    margin-bottom: 48px;
}

.block4{
    margin-bottom: 24px;
}

.sublist{
    margin-bottom: 4px;
}

.sublist, 
.sublist2{
    padding-left: 32px;
    background: url("../img/check.png") 0 5px / auto no-repeat;
    min-height: 26px;
}

.list{
    margin-bottom: 24px;
}